<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div th:fragment="certificates">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-certificate"></i> Certificates <a class="edit-block" href="/edit/certificates" style="position: absolute; right: 30px;">Edit</a>
            </h3>
        </div>
        <div class="panel-body">
            <a data-title="Jee certificate"
               href="https://javaops.ru/certificate/topjava?email=support@zhelezyaka.kz"> <img alt="Jee certificate"
                                                                                      th:src="@{img/cert.jpg}" class="img-responsive">
            </a>
        </div>
    </div>
</div>
</body>
</html>