<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div th:fragment="courses">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-book"></i> Courses <a class="edit-block" href="/edit/courses" style="position: absolute; right: 30px;">Edit</a>
            </h3>
        </div>
        <div class="panel-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge success">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">
                                <a href="https://javaRush.ru"> javarush.ru </a>
                            </h4>
                            <p>
                                <small class="dates"><i class="fa fa-calendar"></i> <strong>Finish Date:</strong> <strong class="label label-danger">30-01-2018</strong>
                                </small>
                            </p>
                        </div>
                        <div class="timeline-heading">
                            <h4 class="timeline-title">
                                <a href="https://juja.com.ua/"> Java Professional </a>
                            </h4>
                            <p>
                                <small class="dates"><i class="fa fa-calendar"></i> <strong>Finish Date:</strong> <strong class="label label-danger">20-07-2019</strong>
                                </small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>