<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div th:fragment="hobbies">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-heart"></i> Hobby <a class="edit-block" href="/edit/hobby" style="position: absolute; right: 30px;">Edit</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="hobbies">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><i class="fa fa-heart"></i></td>
                        <td>Reading books</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-heart"></i></td>
                        <td>Programming</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>