<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div th:fragment="languages">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-language"></i> Foreign languages <a class="edit-block" href="/edit/languages" style="position: absolute; right: 30px;">Edit</a>
            </h3>
        </div>
        <div class="panel-body">
            <strong>English:</strong> Intermediate <br> <strong>Russian:</strong> Native <br>
        </div>
    </div>
</div>
</body>
</html>