<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div th:fragment="objective">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-bullseye"></i> Objective <a class="edit-block" href="/edit#inputObjective" style="position: absolute; right: 30px;">Edit</a>
            </h3>
        </div>
        <div class="panel-body">
            <h4>Software developer position</h4>
            <p>
                <strong>Summary of Qualifications:</strong> <br> Two professional courses, and in addition, everyday practice of solving problems. (Links to
                demo are provided)
            </p>
        </div>
    </div>
</div>
</body>
</html>