<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div th:fragment="practice">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-briefcase"></i> Practice Experience <a class="edit-block" href="/edit/practics">Edit</a>
            </h3>
        </div>
        <div class="panel-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge danger">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Worked as a computer repair engineer at PlanetOfIron company</h4>
                            <p>
                                <small class="dates"><i class="fa fa-calendar"></i> August 2004 - <i class="fa fa-calendar"></i> August 2019 </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                <strong>Responsibilities included:</strong> Computer hardware repair
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Interned as a software developer at T2Studio</h4>
                            <p>
                                <small class="dates"><i class="fa fa-calendar"></i> August 2019 - <i class="fa fa-calendar"></i> November 2019 </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                <strong>Responsibilities included:</strong> Development and maintenance of CRM and ERP systems of various levels of complexity
                            </p>
                            <p>
                                <strong>Resource: </strong><a href="http://t2studio.org/">t2studio</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Currently working as a computer repair engineer at Individual Entrepreneur "ИП Глинских В.В." company</h4>
                            <p>
                                <small class="dates"><i class="fa fa-calendar"></i> November 2019 - <strong class="label label-danger">Current</strong> </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>
                                <strong>Responsibilities included:</strong> Computer hardware repair
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>