<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/bootstrap.html"></head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div th:insert="fragments/profileMain.html"></div>
            <div th:insert="fragments/languages.html"></div>
            <div th:insert="fragments/hobbies.html"></div>
            <div th:insert="fragments/info.html"></div>
        </div>
        <div class="col-md-8 col-sm-6">
            <div th:insert="fragments/objective.html"></div>
            <div th:insert="fragments/skills.html"></div>
            <div th:insert="fragments/practice.html"></div>
            <div th:insert="fragments/certificates.html"></div>
            <div th:insert="fragments/courses.html"></div>
            <div th:insert="fragments/education.html"></div>
        </div>
    </div>
</div>
</body>
</html>